{:source-paths ["src/cljs"]
 :dependencies [[reagent "1.2.0"]
                [re-frame "1.4.3"]
                [day8.re-frame/http-fx "0.2.4"]
                [metosin/reitit-frontend "0.7.2"]
                [cljs-ajax "0.8.4"]
                [com.cognitect/transit-cljs "0.8.280"]]
 :dev-http {8280 "resources/public"}
 :builds {:app {:target :browser
                :output-dir "resources/public/js/compiled"
                :asset-path "/js/compiled"
                :modules {:main {:init-fn dagga-bay.core/init}}
                :devtools {:after-load dagga-bay.core/mount-root}}}}
